<!-- Describe task in general -->

<p><i>
    У третій місії з серії про лампочки я хочу окремо виділити процес та період спостереження за цим процесом.
</i></p>

<p>
    У попередній місії був введений параметр start_watching, а в цій - параметр end_watching, який передає час, коли
    необхідно закінчити спостереження. Якщо його не передано, місія працює як у попередній версії, без обмеження часу спостереження.
</p>

<p>Ще одне оновлення полягає в тому, що кількість елементів (натискань кнопок) може бути непарною (раніше була умова, що кількість елементів завжди парна). У цьому випадку обов'язково присутні параметри початку і кінця перегляду.</p>

<p style="text-align: center;" class="for_info_only">
    <img  title="example" src="{{MEDIA}}composition.gif" alt="example" style="max-height: 400px"/>
</p>

<!-- Explain input and output values -->

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані: </strong> Три аргументи і тільки перший необхідний, інші опціональні. Перший {% if is_js %}масив Date об'єктів{% else %}список datetime об'єктів{% endif %}, другий та третій {% if is_js %}Date об'єкт{% else %}datetime об'єкт{% endif %}.
</p>

<p>
    <strong>Вихідні дані: </strong> Кількість секунд як ціле число.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">sumLight([
    new Date(2015, 1, 12, 10, 0, 0),
    new Date(2015, 1, 12, 10, 10, 10),
    new Date(2015, 1, 12, 11, 0, 0),
],
new Date(2015, 1, 12, 10, 10, 0),
new Date(2015, 1, 12, 11, 0, 10)) == 20

sumLight([
    new Date(2015, 1, 12, 10, 0, 0),
],
new Date(2015, 1, 12, 9, 9, 0),
new Date(2015, 1, 12, 10, 0, 0)) == 0

sumLight([
    new Date(2015, 1, 12, 10, 0, 0),
    new Date(2015, 1, 12, 10, 10, 10),
    new Date(2015, 1, 12, 11, 0, 0),
    new Date(2015, 1, 12, 11, 10, 10),
],
new Date(2015, 1, 12, 9, 0, 0),
new Date(2015, 1, 12, 10, 5, 0)) == 300
</pre>
{% else %}
<pre class="brush: python">sum_light([
    datetime(2015, 1, 12, 10, 0, 0),
    datetime(2015, 1, 12, 10, 10, 10),
    datetime(2015, 1, 12, 11, 0, 0),
],
datetime(2015, 1, 12, 10, 10, 0),
datetime(2015, 1, 12, 11, 0, 10)) == 20

sum_light([
    datetime(2015, 1, 12, 10, 0, 0),
],
datetime(2015, 1, 12, 9, 9, 0),
datetime(2015, 1, 12, 10, 0, 0)) == 0

sum_light([
    datetime(2015, 1, 12, 10, 0, 0),
    datetime(2015, 1, 12, 10, 10, 10),
    datetime(2015, 1, 12, 11, 0, 0),
    datetime(2015, 1, 12, 11, 10, 10),
],
datetime(2015, 1, 12, 9, 0, 0),
datetime(2015, 1, 12, 10, 5, 0)) == 300
</pre>
{% endif %}
</div>


<p>
    <strong>Передумови:</strong>
</p>
<ul>
    <li><i>{% if is_js %}Масив{% else %}Список{% endif %} натискання кнопки завжди сортується у порядку зростання.</i></li>
    <li><i>{% if is_js %}Масив{% else %}Список{% endif %} натискання кнопки не має повторюваних елементів.</i></li>
	<li><i>Мінімальна можлива дата - 01.01.1970</i></li>
	<li><i>Максимальна можлива дата 31.12.9999</i></li>
</ul>
