<!-- Describe task in general -->

<p><i>
    В третьей миссии из серии о лампочках я хочу выделить отдельно процесс, а отдельно период наблюдения за этим процессом.
</i></p>

<p>
    В предыдущей миссии был введен параметр start_watching, а в этой – end_watching, который указывает время окончания наблюдения. Если он не передан, миссия работает, как и в предыдущей версии, без ограничения времени наблюдения.
</p>

<p>Еще одно изменение в том, что количество элементов (нажатий на кнопку) может быть нечетным (в предыдущей миссии серии - количество элементов всего было четным).</p>

<p style="text-align: center;" class="for_info_only">
    <img  title="example" src="{{MEDIA}}composition.gif" alt="example" style="max-height: 400px"/>
</p>


<!-- Explain input and output values -->
<p>
    <strong>Input: </strong> Три аргумента и только первый обязательный. Первый – {% if is_js %}an array of Date objects{% else %}a list of datetime objects{% endif %}, а второй и третий –  {% if is_js %}the Date objects{% else %}the datetime objects{% endif %}.
</p>

<p>
    <strong>Output: </strong> Количество секунд как integer. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">sumLight([
    new Date(2015, 1, 12, 10, 0, 0),
    new Date(2015, 1, 12, 10, 10, 10),
    new Date(2015, 1, 12, 11, 0, 0),
],
new Date(2015, 1, 12, 10, 10, 0),
new Date(2015, 1, 12, 11, 0, 10)) == 20

sumLight([
    new Date(2015, 1, 12, 10, 0, 0),
],
new Date(2015, 1, 12, 9, 9, 0),
new Date(2015, 1, 12, 10, 0, 0)) == 0

sumLight([
    new Date(2015, 1, 12, 10, 0, 0),
    new Date(2015, 1, 12, 10, 10, 10),
    new Date(2015, 1, 12, 11, 0, 0),
    new Date(2015, 1, 12, 11, 10, 10),
],
new Date(2015, 1, 12, 9, 0, 0),
new Date(2015, 1, 12, 10, 5, 0)) == 300
</pre>
{% else %}
<pre class="brush: python">sum_light([
    datetime(2015, 1, 12, 10, 0, 0),
    datetime(2015, 1, 12, 10, 10, 10),
    datetime(2015, 1, 12, 11, 0, 0),
],
datetime(2015, 1, 12, 10, 10, 0),
datetime(2015, 1, 12, 11, 0, 10)) == 20

sum_light([
    datetime(2015, 1, 12, 10, 0, 0),
],
datetime(2015, 1, 12, 9, 9, 0),
datetime(2015, 1, 12, 10, 0, 0)) == 0

sum_light([
    datetime(2015, 1, 12, 10, 0, 0),
    datetime(2015, 1, 12, 10, 10, 10),
    datetime(2015, 1, 12, 11, 0, 0),
    datetime(2015, 1, 12, 11, 10, 10),
],
datetime(2015, 1, 12, 9, 0, 0),
datetime(2015, 1, 12, 10, 5, 0)) == 300
</pre>
{% endif %}
</div>

<p>
    <strong>Предусловия:</strong>
</p>

<ul>
    <li><i>Массив нажатий на кнопку всегда отсортирован по возрастанию</i></li>
    <li><i>В массиве нажатий на кнопку нет повторяющихся элементов</i></li>
    <li><i>Количество элементов всегда четное число (это значит, что лампочка, в конце концов, будет выключена)</i></li>
    <li><i>Минимально возможная дата 1970-01-01</i></li>
    <li><i>Максимально возможная дата 202020-01-01</i></li>
</ul>
